.container-fluid{
    background-color: #272b31;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;

}

.lower{
    padding: 15px 0;
    background-color: #111214;
}
.lower p{
    text-align: center;
    color: rgba(244, 245, 247, 0.7);
    margin-bottom:0;
}
.footer img{
    margin-top: -72px;
}
